<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="shortcut icon" href="/images/favicon.png">
    </head>
    <body>
    <div>
      <h1>{{ page.title }}</h1>
      {{ page.content }}
    </div>
  </body>
</html>
